{% load uw_django_template_helpers %}

{% if messages %}
{% for message in messages %}
<div class="alert {% if message.tags %}{% alert_styles message.tags %}{% endif %} alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}</div>
{% endfor %}
{% endif %}

