// Typography
$font-bg-book:'BureauGrot Book', 'Open Sans' ,impact,'avenir next condensed heavy','Droid Sans','Open Sans',sans-serif;
$font-bg-condbold:'BureauGrotCond', 'Open Sans Condensed',impact,'avenir next condensed heavy','Droid Sans',sans-serif;
$font-bg-cond-book:'BureauGrotCond Book','Open Sans Condensed',impact,'avenir next condensed heavy','Droid Sans',sans-serif;
$font-bg:'BureauGrot', 'Open Sans',impact,'avenir next condensed heavy','Droid Sans',sans-serif;
$font-bg-wide:'BureauGrotWide', 'Open Sans',impact,'avenir next condensed heavy','Droid Sans',sans-serif;
$font-1451-bold:'Typ1451-Bold','Cantarell',verdana,sans-serif;
$font-1451-medium:'Typ1451-Medium','Cantarell',verdana,sans-serif;
$font-1451-regular:'Typ1451-Regular','Cantarell',verdana,sans-serif;
$font-1451-light:'Typ1451-light','Cantarell',verdana,sans-serif;
$font-georgia:georgia,'droid serif','Times New Roman', Times, serif;

$base-font-family: $font-georgia;
$base-button-font-family: $font-bg-cond-book;
$serif-font-family: $font-georgia;
$heading-font-family: $font-bg-condbold;
$heading-font-family-regular:$font-bg-cond-book;
$heading-font-family-light: $font-1451-light;
$condensed-font-family: $font-bg-cond-book;
$condensed-Book-font-family: $font-bg-cond-book;

//Weights
$weight-hairline: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;
$weight-semi-bold: 600;
$weight-extrabold: 700;
$weight-black: 800;


$font-family-base: $font-georgia;

$line-height-base: 1.4;


