.bg-dark-uw {
    background-color: #000!important;
}

.navbar-uw {
    max-width: 63.125rem;
    margin: 0 auto;
    color: #fff;
    padding: 0rem 0 0rem 1rem;
    min-height: 4.375rem;
}

.navbar-uw .navbar-menu-text {
    display: block;
}

.navbar-uw .navbar-brand {
    padding-top: 0;
}

.navbar-uw .navbar-nav {
    padding-top: 1.2em;
}

.navbar-uw .navbar-nav .nav-link {
    color: #fff;
    white-space: nowrap;
}

.navbar-uw .navbar-nav .nav-item {
    font-family: $font-bg-cond-book;
    text-transform: uppercase;
    letter-spacing: 0.045rem;
    font-size: 0.88889rem;
    text-decoration: none;
    font-weight: 700;
}

.navbar-brand img {
    margin: 1rem 0 0 0;
    max-width: 10.563rem;
    height: 2.688rem;
}

.navbar-float {
}

.navbar-expand-md .navbar-collapse {
}

.uw-site--colors {
    display: flex;
    flex-wrap: wrap;
}

.uw-site--c1 {
    background-color: #fffaaa;
}

.uw-site--c2 {
    background-color: #ffea30;
}

.uw-site--c3 {
    background-color: #fdd54f;
}

.uw-site--c4 {
    background-color: #e4b429;
}

.uw-cbar {
    height: 1.125rem;
    width: 25%;
    display: inline-block;
    padding: 0;
    margin: 0;
}

@media (max-width: 921px) and (min-width: 768px) {
    .navbar-uw {
        flex-direction: column;
    }
    .navbar-brand {
        width: 100%;
        text-align: center;
        margin-top: 1.5rem;
    }
}

@media (min-width: 922px) {
    ul.navbar-nav {
    }
}


