{% extends "uw_django/base.html" %}
{% load static %}

{% block title %}ISS App{% endblock title %}

{% block sitename %}<a href="{% url 'home' %}">Sample UW Template</a>{% endblock sitename %}

{% block content %}

<h1>Heading</h1>

{% endblock %}

